<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count</title>
</head>
<body>
<a href="{% url 'home' %}">Start again</a>
<form action="{% url 'about' %}">
    <input type="submit" value="About"/>
</form>
<h1>Your Text</h1>
{{ fulltext }}
<h1>Word Count</h1>
{{ count }}
<h1>Number a Word Appeared</h1>
{% for word, count in word_dict %}
{{ word }} - {{ count }} <br/>
{% endfor %}
</body>
</html>