<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Words Count</title>
</head>
<body>
<h1>Word Count</h1>

<form action="{% url 'count' %}">
    <textarea name="fulltext" id="fulltext" cols="40" rows="10"></textarea>
    <br/>
    <input type="submit" value="Count!"/>
</form>
<br>
<form action="{% url 'about' %}">
    <input type="submit" value="About"/>
</form>
</body>
</html>